* {
  box-sizing: border-box;
}

body {
  --color-primary: #FF2E00;
  --color-secondary: #FBC8A6;
  --color-dark: #211103;
  --color-light: #FFFFFF;

  font-family: Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-dark);
  font-size: 14px;
  line-height: 16px;
}

article {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 648px;
  margin: 128px 72px;
}

.aside {
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
  width: 272px;
  padding: 32px;
}

.group {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.group__bottom-text {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.job-inputs {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

label {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 752px;
  padding: 64px;
}

main .barplot {
  flex-grow: 1;
  max-width: 560px;
}

p {
  margin: 0;
}

.lowercase {
  text-transform: lowercase;
}

.result-number {
  color: var(--color-primary);
  font-size: 64px;
  line-height: 64px;
}

.job {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  min-height: 0; /* needed to make flex item shrink smaller than content size */
}

.job__content {
  width: 100%;
  height: 100%;
  min-width: 32px;
  max-width: 80px;
  max-height: 48px;
}

.tube {
  position: relative;
  background: var(--color-light);
  border: 2px solid var(--color-dark);
  border-radius: 8px;
  z-index: 0;
}

.tube--large {
  border-radius: 16px;
}

.tube--primary {
  border-color: var(--color-primary);
}

/* 
The tube cover is a presentation element that breaks up the top and bottom
borders of the parent element
*/
.tube__cover {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 8px;
  right: 8px;
  background: var(--color-light);
  z-index: -1;
}

.tube__cover--large {
  left: 16px;
  right: 16px;
}

.tube__cover--bottom {
  border-bottom: 2px solid var(--color-secondary);
  transition-property: border-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.tube__cover--select {
  right: 30px;
}

.tube__cover--number-input {
  right: 14px;
}

.tube__cover ~ * {
  /* Ensure content is above cover */
  z-index: 1;
}

.machine {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.barplot {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  gap: 32px;
  height: 480px;
}

.select {
  height: 32px;
}

.select select {
  /* 
  This element overflows its container by 2px on top and bottom.
  This is because we want the clickable area to include the borders, and to
  make the options display underneath the border.
  */
  width: 100%;
  height: 32px;
  margin: -2px 0;
  padding-left: 8px;
  padding-right: 30px;
  background: none;
  border: none;
  outline: none;
  /* hide the default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select__arrow {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 12px;
  height: 12px;
  fill: var(--color-dark);
  pointer-events: none;
}

.select:focus-within .tube__cover--bottom,
.number-input:focus-within .tube__cover--bottom {
  border-color: var(--color-primary);
}

.number-input {
  width: 56px;
  height: 32px;
}

.number-input input[type="number"] {
  width: 100%;
  height: 32px;
  margin: -2px 0;
  border: none;
  padding-left: 8px;
  padding-right: 14px;
  background: none;
  outline: none;
  /* hide the default arrows (Firefox only) */
  -moz-appearance: textfield;
}

/* hide the default arrows (Webkit only) */
.number-input input[type="number"]::-webkit-outer-spin-button,
.number-input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input__arrows {
  position: absolute;
  right: 4px;
  top: 6px;
  width: 8px;
  height: 16px;
  fill: var(--color-dark);
  cursor: default;
}

.number-input__buttons {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  fill: var(--color-dark);
}

.number-input__button {
  width: 14px;
  height: 14px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}
