* {
  box-sizing: border-box;
}

body {
  --color-primary: #FF2E00;
  --color-secondary: #FBC8A6;
  --color-dark: #211103;
  --color-light: #FFFFFF;

  font-family: Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-dark);
  font-size: 14px;
  line-height: 16px;
}

article {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 648px;
  margin: 128px 72px;
}

aside {
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
  width: 272px;
  padding: 32px;
}

aside .group {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

aside .group__bottom-text {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.job-inputs {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

label {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 752px;
  padding: 64px;
}

main .barplot {
  flex-grow: 1;
  max-width: 560px;
}

p {
  margin: 0;
}

.result-number {
  color: var(--color-primary);
  font-size: 64px;
  line-height: 64px;
}

.job {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  min-height: 0; /* needed to make flexbox shrink under content size */
}

.job__content {
  width: 100%;
  height: 100%;
  min-width: 32px;
  max-width: 80px;
  max-height: 48px;
}

.tube {
  position: relative;
  background: var(--color-light);
  border: 2px solid var(--color-dark);
  border-radius: 8px;
}

.tube--large {
  border-radius: 16px;
}

.tube__cover {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 8px;
  right: 8px;
  background: var(--color-light);
}

.tube__cover--large {
  left: 16px;
  right: 16px;
}

.tube__cover ~ * {
  /* Ensure content is above cover */
  z-index: 1;
}

.machine {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.barplot {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  gap: 32px;
  height: 480px;
}
